@model IEnumerable<string>
<a class="btn btn-block btn-secondary"
   style="font-family: 'Monofett', cursivey; font-size: 30px"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    Home
</a>
@foreach (string category in Model)
{
    <a class="btn btn-block
        @(category == ViewBag.SelectedCategory ? "btn-danger": "btn-secondary")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category"
       asp-route-productPage="1"
       style="font-family: 'Monofett', cursivey; font-size:30px">
        @category
    </a>
}
<a class="btn btn-block btn-secondary"
   style="font-family: 'Monofett', cursivey; font-size: 30px"
   asp-action="Index"
   asp-controller="ContactUs">
    Contact Us
</a>
<a class="btn btn-block btn-secondary"
   style="font-family: 'Monofett', cursivey; font-size: 30px"
   asp-action="AboutUsResult"
   asp-controller="AboutUs">
    About Us
</a>